@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    --weakGray: hsl(240,9%,89% );
    color: var(--weakGray);


}
/*web-kit significa que a propiedade em questão só vai ser utilizada se o navegador suportar
 -webkit-font-smoothing: antialiased;
*/

body{    
    background-image: url(../assets/svgs/background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.contain{
    display: grid;
    place-items: center;
    text-align: center;
}
.avatar{
    margin-top: 11.5rem;
    position: relative;
}
.avatar img:nth-of-type(1){
    position: absolute;
    top: -15px
}
.avatar img:nth-of-type(2){
    width: 160px;
    height: 184px;
    object-fit: cover;
    clip-path: polygon(17% 23%, 54% 1%, 90% 25%, 91% 57%, 55% 80%, 18% 60%);

}
